@layer components {
  .blockWrap {
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 0.25rem;
  }

  .carousel {
    width: 100%;
  }

  .carouselItem {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 30vh;
    max-height: 275px;
    width: 66.666667%;
    max-width: 475px;
    flex-shrink: 0;
  }

  @media (min-width: 48rem) {
    .carouselItem {
      width: 33.333333%;
    }
  }

  .itemLink {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
  }
}
