@layer pages {
  .pageWrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .backBtn {
    margin-bottom: 1rem;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    padding: 2rem;
    background-color: var(--primary-foreground);
  }

  @media (min-width: 48rem) {
    .productCard {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  @media (min-width: 64rem) {
    .productCard {
      flex-direction: row;
      gap: 2rem;
    }
  }

  .galleryCol {
    height: 100%;
    width: 100%;
    flex-basis: 100%;
  }

  @media (min-width: 64rem) {
    .galleryCol {
      flex-basis: 50%;
    }
  }

  .galleryFallback {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
    max-height: 550px;
    width: 100%;
    overflow: hidden;
  }

  .infoCol {
    flex-basis: 100%;
  }

  @media (min-width: 64rem) {
    .infoCol {
      flex-basis: 50%;
    }
  }

  .related {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .relatedHeading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .relatedList {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: auto;
    padding-top: 0.25rem;
  }

  .relatedItem {
    aspect-ratio: 1 / 1;
    width: 100%;
    flex-shrink: 0;
  }

  @media (min-width: 29.6875rem) {
    .relatedItem {
      width: 50%;
    }
  }

  @media (min-width: 40rem) {
    .relatedItem {
      width: 33.333%;
    }
  }

  @media (min-width: 48rem) {
    .relatedItem {
      width: 25%;
    }
  }

  @media (min-width: 64rem) {
    .relatedItem {
      width: 20%;
    }
  }

  .relatedLink {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }
}
