@layer animations {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  .animate-fade-out {
    animation: fadeOut 0.3s ease-in-out;
  }
  .animate-slide-in {
    animation: slideIn 0.2s ease-out;
  }
  .animate-slide-out {
    animation: slideOut 0.2s ease-out;
  }
  .animate-slide-in-left {
    animation: slide-in-from-left 0.2s ease-out;
  }
  .animate-slide-out-left {
    animation: slide-out-to-left 0.2s ease-out;
  }
  .animate-slide-in-right {
    animation: slide-in-from-right 0.2s ease-out;
  }
  .animate-slide-out-right {
    animation: slide-out-to-right 0.2s ease-out;
  }
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
  .animate-carousel {
    animation: marquee 60s linear infinite;
  }
  .animate-blink {
    animation: blink 1.4s both infinite;
  }
  .animate-spin {
    animation: spin 1s linear infinite;
  }
}
