.root {
  position: relative;
}

.viewport {
  overflow: hidden;
}

.track {
  display: flex;
}

.track--horizontal {
  margin-left: -1rem;
}

.track--vertical {
  margin-top: -1rem;
  flex-direction: column;
}

.slide {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.slide--horizontal {
  padding-left: 1rem;
}

.slide--vertical {
  padding-top: 1rem;
}

.prevBtn,
.nextBtn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.prevBtn--horizontal {
  top: 50%;
  left: -3rem;
  translate: 0 -50%;
}

.prevBtn--vertical {
  top: -3rem;
  left: 50%;
  translate: -50% 0;
  rotate: 90deg;
}

.nextBtn--horizontal {
  top: 50%;
  right: -3rem;
  translate: 0 -50%;
}

.nextBtn--vertical {
  bottom: -3rem;
  left: 50%;
  translate: -50% 0;
  rotate: 90deg;
}
