.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: color-mix(in oklch, var(--primary) 50%, transparent);
  font-family: var(--font-mono), monospace;
  line-height: 1;
  user-select: none;
}

[data-disabled='true'] .root {
  pointer-events: none;
  opacity: 0.5;
}

.root:has(~ :disabled),
.root:has(~ [data-disabled='true']) {
  cursor: not-allowed;
  opacity: 0.5;
}
