@layer components {
  .item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .thumb {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    flex-shrink: 0;
  }

  .thumb-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .thumb-image {
    border-radius: var(--radius-md);
    object-fit: cover;
  }

  .meta {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .title {
    font-weight: 500;
    font-size: 1.125rem;
  }

  .variant {
    font-size: 0.875rem;
    font-family: monospace;
    color: color-mix(in oklch, var(--primary) 50%, transparent);
    letter-spacing: 0.1em;
  }

  .subtotal {
    text-align: right;
  }

  .subtotal-label {
    font-weight: 500;
    font-size: 1.125rem;
  }

  .subtotal-price {
    font-family: monospace;
    font-size: 0.875rem;
    color: color-mix(in oklch, var(--primary) 50%, transparent);
  }
}
